bin/
obj/
publish/
Data/
*.user
/.idea/.idea.MasterDocumentation.dir/.idea
/.vs/MasterDocumentation/CopilotIndices
/.vs
/src/MasterDocumentation.Editor/web/node_modules
data-location.txt
data-location.txt.tmp
